.cont {
  height: 500px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.s {
  height: 100%;
  flex: 1;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 1px;
}
.s h1 {
  color: #fff;
  margin-left: 20px;
  font-size: 4rem;
}
.s:hover {
  flex: 3;
  background-blend-mode: normal;
}

.ayman {
  background: url(../testpic/ayman.jpg);
}
.tebo {
  background: url(../testpic/tebo.jpg);
}
.seada {
  background: url(../testpic/seada.jpeg);
}

.yara {
  background: url(../testpic/yara.jpg);
}

.bg {
  background-position: center;
  background-size: cover;
}
