.cont {
  height: 500px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.s {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  /* justify-content: center; */
  flex: 1;
  transition: all 0.5s;
}

.s h1 {
  color: #fff;
}

.s:hover {
  flex: 3;
  background-blend-mode: multiply;
}
.s {
  background-color: royalblue;
  background-position: center;
  background-size: cover;
}
.ayman {
  /* background: url(../testpic/ayman.jpg) blue; */
}
.tebo {
  background: url(../testpic/tebo.jpg) rgba(87, 84, 236, 0.4);
  background-position: center;
  background-size: cover;
}
.seada {
  background: url(../testpic/seada.jpeg) rgba(87, 84, 236, 0.4);
  background-position: center;
  background-size: cover;
}
.yara {
  background: url(../testpic/yara.jpg) rgba(87, 84, 236, 0.4);
  background-position: center;
  background-size: cover;
}
